
body {
    font-family: 'Inter', sans-serif;
}

.login-application-name{
    font-size: 2rem;
    color: white;
    font-weight: 700;
}

.required:after {
    content: '*';
    margin-left: 0.1rem;
    color: red;
}
table#datatable{
    width: 100% !important;
    thead tr{
        background-color: #35b9a6; 
        th{
            font-weight: 700;
            color: white;
        }
    }
}